extend layout
block navbar
  form(class="navbar-form navbar-right" method="get" action='/logout')
    button(type='submit' class='btn btn-danger') Logout

block sidebar
  include sidebar

block container   
  button(type='submit' class='btn btn-default btn-success generate-key') Generate New Api Key

  div(class='keys')

block append scripts
  include templates
  script(type='text/javascript').
    $(function() {
      var keys = window.keys = new window.ApiKeyCollection();
      keys.userId = #{user.id};
      keys.fetch({success: function() {
        var view = window.view = new window.ApiKeyCollectionView({el: $(".keys"), collection: keys, userId: #{user.id}});
          view.render();
        }
      });
    });
  script(type='text/javascript' src='/js/keys.js')
