extend layout
block navbar
  form(class="navbar-form navbar-right" method="get" action='/logout')
    button(type='submit' class='btn btn-danger') Logout

block sidebar
  include sidebar

block container

  div(class="collection")

block append scripts
  include templates
  script(type='text/javascript').
    $(function() {
      console.log(window.ConfigCollection);
      var coll = window.coll = new window.ConfigCollection();
      coll.fetch()
      var collView = window.collView = new window.ConfigCollectionView({el: $(".collection"), collection: coll});
      collView.render();
    });

  script(type='text/javascript' src='/js/config.js')

