extend layout

block container
  div(class='container')
    div(class='hero-unit')
      h1 FetchConf
      p Dynamic Config based on Websockets and Longpolling
      a(href='/about' class='btn btn-primary btn-large') Learn More
