doctype
html
  head
    title Elt - Configs
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/dashboard.css')
    link(rel='stylesheet' href='/stylesheets/freelancer.css')
  body
    nav(class="navbar navbar-default navbar-fixed-top navbar-shrink page-scroll" role="navigation")
      div(class="container")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
            span(class="sr-only") Toggle Navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="/") Elt
        block navbar
          form(class="navbar-form navbar-right" method="get" action='/login')
            button(type='submit' class='btn btn-success') Login

    div(class="container-fluid")
      div(class="row")
        block sidebar
        block container

        footer(class='navbar navbar-fixed-bottom text-center')                                                             
          div(class='footer-below')                                                                                        
            div(class='row')                                                                                               
              div(class="col-lg-12")                                                                                       
                Copyright © Elt.li 2014                                                                                    
                div(data-gittip-username="streed" data-gittip-widget="custom")                                             
                  a(class="gittip-link") Gittip

  block scripts
    script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
    script(type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/q.js/1.0.1/q.js')
    script(type='text/javascript' src='//gttp.co/v1.js') 
    script(type='text/javascript').
      window.accessToken = "#{accessToken}";

      var backboneSyncOld = Backbone.sync;
      Backbone.sync = function(method, model, options) {
        options.headers = {
          'Authorization': 'Bearer ' + window.accessToken
        }

        backboneSyncOld(method, model, options);
      }
