doctype
html
  head
    title FetchConf - #{page}
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
  body
    div(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
            span(class="sr-only") Toggle Navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="/") FetchConf
        block navbar
          div(class="navbar-collapse collapse")
            ul(class="nav navbar-nav pull-right")
            form(class="navbar-form navbar-right" action='/login' method='post')
              input(type="text" class="span2" placeholder="Email")
              input(type="password" class="span2" placeholder="Password")
              button(type='submit' class='btn') Sign In

    div(class="container-fluid")
      div(class="row")
        block sidebar
        div(class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")
          block container

  block scripts
    script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
    script(type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/q.js/1.0.1/q.js')
    script(type='text/javascript' src='/js/auth.js')
