extend layout
block container
  if error
    div(class='alert alert-danger')
      p
        strong #{error}
        |  - #{message}
  form(method='post' action='/new' role='form' name='newConfig')
    div(class='form-group')
      label(for='confName') Config Name
      input(name='configName' type='text' class='form-control' id='confName' placeholder='Config Name')
    button(type='submit' class='btn btn-default') Create
