extend layout
block navbar
  form(class="navbar-form navbar-right" method="get" action='/logout')
    button(type='submit' class='btn btn-danger') Logout

block sidebar
  include sidebar
block container
  div(class='error')
  div(class='config')

block append scripts
  include templates
  script(type='text/javascript').
    $(function() {
      var config = window.config = new window.ConfigModel({name: "#{config}"})

      config.fetch({success: function() {
          var view = window.view = new window.ConfigModelView({el: $(".config"), model: config});
          view.render();
        }
      });

    });
  script(type='text/javascript' src='/js/config.js')

