extend layout

block container
  header.section-bg-dark
    div.container
      div.row
        div.col-lg-12
          span.logo.glyphicon.glyphicon-barcode
          div.intro-text
            span.name Hassle Free Configs
            hr
            span.skills Simple, Reliable, Powerful
  section(id='purpose')
    div.container
      div.row
        div.col-lg-12.text-center
          h2 Purpose
          hr
        div.col-lg-8.col-sm-offset-4
          dl
            dt Simple
            dd Create and compose configurations with a simple dashboard and API.

            dt Reliable
            dd Your configurations available in many langauges and on almost any device.

            dt Powerful
            dd Allow your applications to receive configuration changes as they occur in real time.

  section.section-bg-dark
    div.container
      div.row
        div.col-lg-12.text-center
          h2 Api

    div.row.col-md-offset-1
      pre.col-md-10.
        request = require("request");
        
        clientId = "3ae781a47397e6d6df64b677";
        clientSecret = "88eb5df16899da110952d98462fef1f0d816c0d75427b599"
        
        data = {
          "grant_type": "client_credentials",
          "client_id": clientId,
          "client_secret": clientSecret
        };
        
        request.post("http://elt.li/oauth/token", {form: data}, 
          function(err, response, body) {accessToken = JSON.parse(body).access_token
              request.get({ url: "https://hydraconfig.com/api/config", headers: { "Authorization": "Bearer " + accessToken } },
              function( err, response, body) {
                console.log(JSON.stringify(JSON.parse(body), null, 2));
          });
        })

    div.row.col-md-offset-1
      pre.col-md-10.
        [{
            "name": "another-test",
            "conf": [{
                "name": "a.test.value",
                "value": "another value",
                "config": "another-test"
              }
            ]
          },{
            "name": "test",
            "conf": [{
                "name": "test.message",
                "value": "hello world",
                "config": "test"
              },{
                "name": "test.user",
                "value": "reed",
                "config": "test"
              }
            ]
          }
        ]

    div.container
      div.row
        div.col-lg-12.text-center
          h3 Available Libraries
          img(src='/img/nodejs-black.png')
  section(id='plans')
    div.container
      div.row
        div.col-lg-12.text-center
          h2 Plans
    div.container
      div.row
        div.col-lg-4
          div.panel.panel-danger
            div.panel-heading.text-center
              h3 Personal
            div.panel-body
              p.lead.text-center(style="font-size: 40px") $2/month
            ul.list-group.list-group-flush.text-center
              li.list-group-item Internal Deployment
              li.list-group-item 10 requests/hour
              li.list-group-item 512Kb of Space
              li.list-group-item Single User
            div.panel-footer
              a.btn.btn-block.btn-default Sign up
        div.col-lg-4.col-offset-4
          div.panel.panel-info
            div.panel-heading.text-center
              h3 Professional
            div.panel-body
              p.lead.text-center(style="font-size: 40px") $10/month
            ul.list-group.list-group-flush.text-center
              li.list-group-item Internal Deployment
              li.list-group-item 50 requests/hour
              li.list-group-item 1MB of Space
              li.list-group-item Admin and Developers
            div.panel-footer
              a.btn.btn-block.btn-default Sign up
        div.col-lg-4.col-offset-4
          div.panel.panel-success
            div.panel-heading.text-center
              h3 Public
            div.panel-body
              p.lead.text-center(style="font-size: 40px") $20/month
            ul.list-group.list-group-flush.text-center
              li.list-group-item Public Deployment
              li.list-group-item 5 requests/hour/user
              li.list-group-item 1MB of Space
              li.list-group-item Admin and Developers
            div.panel-footer
              a.btn.btn-block.btn-default Sign up

